@import './normalize.scss';
@import './variables.scss';

body {
  font-family: $font-family;
  background-color: white;
  background-image: url(https://images.unsplash.com/photo-1421757350652-9f65a35effc7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1353&q=80);

  .app-root {
    height: 100vh;
  }
}

nav {
  .appBar-header {
    background-color: $dark-gray;
  }

  .navbar-items-list {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    padding-inline-start: 15px;
    padding-inline-end: 15px;

    margin: 20px 0;

    li {
      list-style: none;
    }

    li#item-logo {
      flex: 0 1 auto;
      .logo {
        img {
          width: 50px;
        }
      }
    }

    li#item-title {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;

      h2,
      h3,
      h4 {
        color: $light-gray;
        font-weight: 600;
      }
    }
  }
}

.page {
  .MuiContainer-root {
    background-color: white;
    padding: 24px;
    /* margin: 24px 0 0 0; */
    margin-top: 24px;
    border-radius: 3px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    .page-title-header {
      h2 {
        margin-top: 0px;
      }
    }
  }
}
